<style type="text/css">
.font-color {
	color: #FFF;
}
.container .row.clearfix .col-md-12.column p strong {
	color: #999;
}
.container .row.clearfix .col-md-12.column p strong {
	color: #222222;
}
.container .row.clearfix .col-md-12.column p strong {
	color: #afafaf;
}
</style>
<div class="container" style="background-color:#323232; color: #FFF;">
	<div class="row clearfix">
   	  <p></p>
		<div class="col-md-4 column">
			 <address> <strong>上海韬翔网络科技有限公司（总部）</strong><br /> 
		  上海市北部新区<br /> 青枫北路30号(拓展区A5栋凤凰座C座第五层)<br /> <abbr title="Phone">P:</abbr> 18234030165</address>
		</div>
		<div class="col-md-4 column">
			 <address> <strong>上海韬翔网络科技有限公司（上海）</strong><br /> 上海市浦东新区<br /> txkj@iqianyue.com<br /> <abbr title="Phone">P:</abbr> 18234030165</address>
		</div>
		<div class="col-md-4 column">
		  <address> <strong>微信客服：</strong>
		  weiwei_assistant<br />
          
          <img src="{$static}/images/weixin.jpg" height="100" width="100" alt="扫描添加客服" />
		  
          
		  </address>
          <address></address>
		</div>
	</div>
</div>
<div class="container" style="background-color:#222222; font-size: medium;">
	<div class="row clearfix">
		<div class="col-md-12 column">
        	<p></p>
			<p align="center"><strong>
			  Python - PHP - Android
			</strong></p>
            <p align="center"><strong>
			Copyright 2015-2017 上海韬翔网络科技有限公司
			</strong></p>
            
		</div>
  </div>
</div>